.report-filters-inline-container .fi-ta-filters {
    display: flex !important;
    gap: 1rem;
}

.report-filters-inline-container .fi-ta-filters-heading {
    display: none !important;
}
.report-filters-inline-container .fi-ta-filters-actions-ctn{
    height: 36px;
    align-self: center;
    flex-shrink: 0;
}