.fi-ta-ctn {
    overflow: visible !important;
}
.fi-ta-content {
    overflow: visible !important;
}
.fi-ta-content-ctn {
    overflow: visible !important;
}
.fi-ta-table > thead{
    position: sticky;
    top: 60px;
    z-index: 1;
}
.employee-manager-table .fi-ta-table > thead{
    position: sticky;
    top: 0px !important;
}